<div align="center" id="sign-up">
    <form method="POST" action="" id="sign-up-form">
        <h1 id="sign-up-heading">🎸 SIGN UP 🎸</h1>
        <table>
            <tr>
                <td class="sign-up-field"><label for="prefix">Prefix: </label></td>
                <td>
                    <select name="prefix" required="true" class="sign-up-field-input">
                        <optgroup label="Prefix:">
                            <option value="Mr.">Mr. </option>
                            <option value="Mrs.">Mrs. </option>
                            <option value="Dr. ">Dr. </option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="firstName">First Name: </label></td>
                <td><input name="firstName" type="text" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="middleName">Middle Name: </label></td>
                <td><input name="middleName" type="text" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="lastName">Last Name: </label></td>
                <td><input name="lastName" type="text" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="sex">Sex: </label></td>
                <td>
                    <select name="sex" required="true" class="sign-up-field-input">
                        <optgroup label="Sex:">
                            <option value="Male" selected="true">Male</option>
                            <option value="Female">Female</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="age">Age: </label></td>
                <td><input name="age" type="number" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="address">Address: </label></td>
                <td><input name="address" type="text" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="email">Email: </label></td>
                <td><input name="email" type="email" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="occupation">Occupation: </label></td>
                <td><input name="occupation" type="text" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="facebook">Facebook: </label></td>
                <td><input name="facebook" type="text" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="twitter">Twitter: </label></td>
                <td><input name="twitter" type="text" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="tumblr">Tumblr: </label></td>
                <td><input name="tumblr" type="text" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="instagram">Instagram: </label></td>
                <td><input name="instagram" type="text" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="github">Github: </label></td>
                <td><input name="github" type="text" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="username">Username: </label></td>
                <td><input name="username" type="text" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td class="sign-up-field"><label for="password">Password: </label></td>
                <td><input name="password" type="password" required="true" class="sign-up-field-input"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input name="btnSignUp" type="submit" value="SIGN UP" id="btn-sign-up"/>
                    <input name="btnReset" type="reset" value="RESET" id="btn-reset"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <pre><a routerLink="/sign-in" id="sign-in">Already a member? Sign in!</a></pre>
                </td>
            </tr>
        </table>
    </form>
</div>