<app-navbar></app-navbar>
<div class="container">
    <div align="center">
        <h4 class="display-4 text-warning font-weight-bold">{{guitar.model}}</h4>
        <p>
            <img src="{{guitar.imageUrl}}" 
                 alt="{{guitar.model}}" 
                 title="{{guitar.model}}" 
                 width=300px heigh="300px" 
                 class="rounded img-fluid"
            />
        </p>
        <p class="text-primary font-weight-bold">Brand: {{guitar.brandName}}</p>
        <p>Number of frets: {{guitar.numberOfFrets}} frets</p>
        <p>Number of strings: {{guitar.numberOfStrings}} strings</p>
        <p>Number of pickups: {{guitar.numberOfPickups}}</p>
        <p>Pickups type: {{guitar.pickupsType}}</p>
        <p class="text-warning font-weight-bold">Price: {{guitar.price | currency}}</p>
        <a routerLink="/guitars"><button class="btn btn-warning">Back</button></a>
    </div>
</div>