<app-navbar></app-navbar>
<div align="center" id="contact">
    <table>
        <tr>
            <td colspan="2"><h1 id="name">🎸 HIEU MINH LE 🎸</h1></td>
            <td></td>
        </tr>
        <tr>
            <td class="contact-field">☎ Phone: </td>
            <td><a href="tel:+84908108633" class="contact-field-data">+84908109633</a></td>
        </tr>
        <tr>
            <td class="contact-field">📧 Email: </td>
            <td><a href="mailto:hieucoder@outlook.com" class="contact-field-data">hieucoder@outlook.com</a></td>
        </tr>
        <tr>
            <td class="contact-field">💻 Github: </td>
            <td><a href="https://github.com/hieucomputerprogrammer" class="contact-field-data">Hieu Computer Programmer</a></td>
        </tr>
        <tr>
            <td class="contact-field">🕹 Facebook: </td>
            <td><a href="https://www.facebook.com/hieucomputerprogrammer" class="contact-field-data">Hieu Minh Le (Híu)</a></td>
        </tr>
    </table>
</div>