<app-navbar></app-navbar>
<div class="container">
    <div align="center">
        <h3 class="display-3 font-weight-bold">BRANDS</h3>
    </div>
    <table class="table table-striped table-bordered table-hover text-center">
        <thead class="thead-dark">
            <th>Brand Name</th>
            <th colspan="3">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let brand of brands">
                <td class="text-warning font-weight-bold">{{brand.name}}</td>
                <td><button class="btn btn-primary" (click)="getBrandById(brand.id)">View</button></td>
                <td><button class="btn btn-success" (click)="updateBrand(brand.id)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteBrand(brand.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-warning btn-lg btn-block" (click)="addBrand()">Add Brand</button>
</div>