<app-navbar></app-navbar>
<div class="container">
    <div align="center">
        <h4 class="display-4 font-weight-bold">ADD GUITAR</h4>
        <form (ngSubmit)="addGuitar()" #brandForm="ngForm">
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Guitar brand:</label>
                <select #brand="ngModel" [(ngModel)]="guitar.brandId" name="brand" class="form-control" id="brand">
                    <option [value]="brand.id" *ngFor="let brand of brands">{{brand.name}}</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Guitar model:</label>
                <input #model="ngModel" class="form-control text-center" type="text" [(ngModel)]="guitar.model" name="model" required="required"/>
            </fieldset>
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Number of frets:</label>
                <input #numberOfFrets="ngModel" class="form-control text-center" type="number" [(ngModel)]="guitar.numberOfFrets" name="numberOfFrets" required="required"/>
            </fieldset>
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Number of strings:</label>
                <input #numberOfStrings="ngModel" class="form-control text-center" type="number" [(ngModel)]="guitar.numberOfStrings" name="numberOfStrings" required="required"/>
            </fieldset>
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Number of pickups:</label>
                <input #numberOfPickups="ngModel" class="form-control text-center" type="number" [(ngModel)]="guitar.numberOfPickups" name="numberOfPickups" required="required"/>
            </fieldset>
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Pickups type:</label>
                <input #pickupsType="ngModel" class="form-control text-center" type="text" [(ngModel)]="guitar.pickupsType" name="pickupsType" required="required"/>
            </fieldset>
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Price:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input #price="ngModel" class="form-control text-center" type="number" [(ngModel)]="guitar.price" name="price" required="required">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="text-primary font-weight-bold">Guitar photo:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload Guitar Photo</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="guitarPhoto" required="required" (change)="handleFileInput($event.target.files)">
                        <label class="custom-file-label">Choose guitar photo</label>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-warning">Save</button>
            <a routerLink="/guitars">
                <button class="btn btn-primary ml-2">Back</button>
            </a>
        </form>
    </div>
</div>