#sign-in {
    background: gold;
    width: 550px;
    height: 550px;
    border-radius: 500px;
    padding-top: 180px;
    margin: 0 auto;
    margin-top: 30px;
}

#sign-in-heading {
    font-size: 50px;
    color: blue;
    font-weight: bold;
}

.sign-in-field {
    color: black;
    font-weight: bold;
}

.sign-in-field-input {
    text-align: center;
    border-radius: 10px;
    width: 250px;
}

#btn-sign-in {
    background: black;
    color: gold;
    font-weight: bold;
    border-radius: 5px;
    font-weight: bold;
}

#btn-sign-in:hover {
    color: yellow;
}

#btn-reset {
    background: black;
    color: gold;
    font-weight: bold;
    border-radius: 5px;
    font-weight: bold;
}

#btn-reset:hover {
    color: yellow;
}

#invalid-credentials {
    color: red;
    font-weight: bold;
}

#sign-up {
    font-weight: bold;
}

#sign-up:hover {
    text-decoration: none;
    color: white;
}