<div align="center" id="sign-in">
    <form method="POST" action="" id="sign-in-form">
        <h1 id="sign-in-heading">🎸 SIGN IN 🎸</h1>
        <table>
            <tr>
                <td class="sign-in-field"><label for="username">Username: </label></td>
                <td><input name="username" type="text" required="true" class="sign-in-field-input" [(ngModel)]="username"/></td>
            </tr>
            <tr>
                <td class="sign-in-field"><label for="password">Password: </label></td>
                <td><input name="password" type="password" required="true" class="sign-in-field-input" [(ngModel)]="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input name="btnSignIn" type="submit" value="SIGN IN" id="btn-sign-in" (click)="authorize()"/>
                    <input name="btnReset" type="reset" value="RESET" id="btn-reset"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <code id="invalid-credentials" *ngIf="invalidAuthorization">{{invalidCredentialsMessage}}</code>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <pre><a routerLink="/sign-up" id="sign-up">Not yet a member? Sign up!</a></pre>
                </td>
            </tr>
        </table>
    </form>
</div>